<h1>Server Info</h1>
<p>Server ID is {{ serverId }} and returned from function {{ getServerId() }}</p>
<p>Server Name is {{ serverName }}</p>
<input class="form-control" [(ngModel)]="serverName"/>
<button class="btn btn-primary" [disabled]="notAllowCreateNewServer" (click)="createNewServer()">Create New Server</button>
<p>Creation of new server is {{ !notAllowCreateNewServer }}</p>

<p *ngIf="paragraphShow; else noServer">New Server created {{ serverName }} with id {{ serverId }}</p>

<div *ngIf="serversList.length>0; else noServers">
    <h4>Servers Available</h4>
    <p *ngFor="let server of serversList">{{server}}</p>
</div>
<ng-template #noServers>
    <h3>No Servers Available!!</h3>
</ng-template>

<ng-template #noServer>
    <p>Server not created!!</p>
</ng-template>
