<!-- <app-encapsulation-example />
<app-encapsulation-example2 />
<app-encapsulation-example3 />

<a routerLink="/routing-component1">Routing example 1</a>
<br />
<a routerLink="/routing-component2">Routing example 2</a>
<br />
<a routerLink="/standalone-routing-component1">Standalone Routing example 1</a>
<br />
<a routerLink="/standalone-routing-component2">Standalone Routing example 2</a>
<br />
<a routerLink="/feature/feature-component1"
  >Module Component Routing example 1</a
>
<br />
<a routerLink="/feature/feature-component2"
  >Module Component Routing example 2</a
>
<br />
<app-binding-assessment />
<app-parent-example1 /> -->
<router-outlet></router-outlet>
